# Install Directives
# ------------------
install
cdrom
text
xconfig --startxonboot --defaultdesktop=GNOME
firstboot --disabled
reboot



# Settings - Hardware
# -------------------

# Disk
bootloader --location=mbr
zerombr
clearpart --all --initlabel
autopart

# Network
network --bootproto=dhcp

# Misc
unsupported_hardware



# Settings - System
# -----------------
lang en_US.UTF-8
keyboard us
timezone --utc America/New_York
auth --enableshadow --passalgo=sha512



# Settings - Services
# -------------------
firewall --disabled
selinux --disabled



# Settings - User
# ---------------
rootpw vagrant
user --name=vagrant --plaintext --password vagrant
user --name=admin --plaintext --password 2!HPAdmin



# System Packages
# ---------------
%packages --nobase --ignoremissing --excludedocs
@ Core
@ Base
@ X Window System
@ GNOME

wget
curl
sudo
gcc
gcc-c++
bzip2
make
dkms
kernel-devel
openssh-clients
%end

%pre
# Note(Dan): Pre-install commands.
%end

%post
# Note(Dan): Post-install commands.
%end
